<div class="instructor-body">
  <div class="avatar-extra-large" style="background-image: url(<%= @instructor.avatar %>)"></div>
  <p>You are about to book lessons with</p>
  <h1><%= @instructor.first_name %> <%= @instructor.last_name %></h1>
  <div class="summary-description">
    <h3>Booking Summary</h3>
    <br>
    <p>Number of hours: <%= @sessions.length %></p>
    <p>Price: <%= @sessions.length * @instructor.hourly_rate %> EUR</p>
    <br>
    <%= link_to "Proceed to payment", user_trip_path(user_id: @instructor.id, id: @trip.id), method: :patch, class: "booking-btn" %>

    <!-- Instead of regular button, a form is needed to start the payment process -->
    <%= form_tag orders_path do %>
      <%= hidden_field_tag 'instructor_id', @instructor.id %>
      <%= hidden_field_tag 'trip_id', @trip.id %>
      <%= hidden_field_tag 'amount', @amount %>
      <%= submit_tag 'Purchase', class: 'btn btn-primary' %>
    <% end %>

  </div>
</div>

