<div class="wrapper">
  <div class="user-booking-info">
    <div class="booking-photo-name">
      <%= image_tag ("#{@instructor.avatar}"), with: "25px;", height: "25px;", class: "booking-instructor-photo" %>
      <div class="booking-instructor-block">
        <p class="booking-instructor-name"><%= @instructor.first_name %> <%= @instructor.last_name %></p>
        <p class="booking-instructor-resort"><%= @instructor.resort %></p>
      </div>
    </div>
    <div class="booking-price">
      <p class="booking-total-price">€1200</p>
      <div class="multiply-price-block">
        <p class="booking-num-sessions">12</p>
        <p class="multiply">x</p>
        <p class="booking-one-session-price">€50</p>
      </div>
    </div>
  </div>
</div>
<%= @sessions %> <br>
<%=  @sessions[0] %> <br>
<%=  @sessions[0][0]%> <br>
<%= date = @sessions[0][0].start %>


<div class="booking-table-wrapper">
  <div class="booking-table-container">
    <div class="booking-table">
      <div class="hour-block">
        <p>09:00-10:00</p>
        <p>10:00-11:00</p>
        <p>11:00-12:00</p>
        <p>12:00-13:00</p>
        <p>13:00-14:00</p>
        <p>14:00-15:00</p>
        <p>15:00-16:00</p>
      </div>

    <% counter = 0 %>
    <% while counter < 7 do %>
      <% booking_column_date = "2020-01-29 09:00:00".to_datetime + counter %>
      <div class="booking-date-day">
        <div class="booking-date">
          <p class="date"><%= booking_column_date.day %></p>
          <p class="day-of-week"><%= booking_column_date.strftime('%A') %></p>
        </div>

        <% for i in 0..6 %>
        <% @sessions[0].each do |session|%>
        <%= session.start %>

          <% if booking_column_date + i.hour == session.start %>
            <div class="booking-slot booked" id="booked" data-set-timeslot="<%= booking_column_date + i.hour %>"></div>
          <% else %>
            <div class="booking-slot" id="open" data-set-timeslot="<%= booking_column_date + i.hour %>"></div>
          <% end %>
        <% end %>
      <% end %>

      <% counter += 1 %>
    <% end %>
    </div>
  </div>
</div>
<!-- Open: Generate table with max 7 days per page given: a starting booking_column_date, an end booking_column_date  -->
<!-- Open: Display different color and make selectable vs. non selectable for each box -->
<!-- Open: Array called Sessions of Start/End booking_column_datetimes -->
<!-- Open: Make sure unselect deletes session from Session array -->
<!-- Open: Dynamic price changes -->





<!-- Open: create Continue button to create the trip -->


