<div class="wrapper">
  <div class="user-booking-info">
    <div class="booking-photo-name">
      <%= image_tag ("#{@instructor.avatar}"), with: "25px;", height: "25px;", class: "booking-instructor-photo" %>
      <div class="booking-instructor-block">
        <p class="booking-instructor-name"><%= @instructor.first_name %> <%= @instructor.last_name %></p>
        <p class="booking-instructor-resort"><%= @instructor.resort %></p>
      </div>
    </div>
    <div class="booking-price">
      <p class="booking-total-price"> € <span class="total-price">0</span></p>
      <div class="multiply-price-block">
        <p class="booking-num-sessions">0</p>
        <p class="multiply">x</p>
        <p class="booking-one-session-price"> € <span class="session-price"><%= @instructor.hourly_rate %></span></p>
      </div>
    </div>
  </div>
</div>

<div class="booking-table-wrapper">
  <div class="booking-table-container">
    <div class="booking-table">
      <div class="hour-block">
        <p>09:00-10:00</p>
        <p>10:00-11:00</p>
        <p>11:00-12:00</p>
        <p>12:00-13:00</p>
        <p>13:00-14:00</p>
        <p>14:00-15:00</p>
        <p>15:00-16:00</p>
      </div>
    <!-- For each day, print the headers date and day of the week -->
      <% counter = 0 %>
      <%= form_for(:trip, html: {class: "form-container"}, url: user_trips_path(@instructor), method: :post) do |f| %>
        <% while counter < 7 do %>
        <% booking_column_date = "2020-01-29 09:00:00".to_datetime + counter %>
        <div>
          <div class="booking-date-day">
            <div class="booking-date">
              <p class="date"><%= booking_column_date.day %></p>
              <p class="day-of-week"><%= booking_column_date.strftime('%A') %></p>
            </div>
            <!-- For each hour -->
            <% for i in 0..6 %>
            <!-- Create an empty validation array where we will store true each time there is a match with existing sessions -->
              <% validation_array = [] %>
              <% @booked_sessions[0].each do |session|%>
                <% if booking_column_date + i.hour == session.start %>
                  <% validation_array << true %>
                <% else %>
                  <% validation_array << false %>
                <% end %>
              <% end %>
                <!-- Look up if the validations array contains at least one match. If yes, set class to booked -->
              <%= f.fields_for :sessions do |s| %>
                <% if validation_array.include? true %>

                  <div class="booking-slot-booked">
                  </div>
                <% else %>
                  <div class="booking-slot-open">
                    <%= s.radio_button "#{booking_column_date + i.hour}", "selected", checked: false, class: "input-checkbox d-hidden" %>
                  </div>
                <% end %>
              <% end %>
            <% end %>
          </div>
        </div>
        <% counter += 1 %>
        <% end %>
        <!-- Passing current user in the params -->
        <%= f.hidden_field :student_id, value: "#{current_user.id}" %>
        <%= f.submit "Fuck yeah", class: "test" %>
      <% end %>
    </div>

    <!-- Back and continue buttons -->
    <div class="booking_table_buttons">
      <%= link_to "Back",  user_path(@instructor), class: "back btn" %>
      <%= link_to "Continue", user_trips_path(user_id: @instructor), method: :post, class: "continue btn" %>
    </div>
  </div>
</div>

<!-- Open: Make sure unselect deletes session from Session array -->
<!-- Open: Dynamic price changes -->
<!-- Open: create Continue button to create the trip -->
