<div class="search-wrapper">
  <div class="search-container">
    <%= render 'shared/search' %>
    <div class="sorting-container">
      <div class="gender-sorting">
        <p class="selector">Any</p>
        <p class="selector">Male</p>
        <p class="selector">Female</p>
      </div>
      <div class="price-sorting">
        <p>its gona be a price sorting here</p>
      </div>
      <div class="rating-sorting">
        <p class="selector">1</p>
        <p class="selector">2</p>
        <p class="selector">3</p>
        <p class="selector">4</p>
        <p class="selector">5</p>
      </div>
  </div>
  </div>
</div>

<div class="show-cards-wrapper">
  <div class="show-cards-container">
    <% @instructors.each do |instructor| %>
      <%= link_to user_path(instructor) do %>
        <div class="instructor-card">
          <%= image_tag ("#{instructor.avatar}")%>
          <div style="display: flex; flex-direction: column;">
            <p><%= instructor.first_name %></p>
            <p><%= instructor.resort %></p>
            <p><%= instructor.hourly_rate %></p>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>
</div>
