<div class="search-wrapper">
  <div class="search-container">
    <%= render 'shared/search' %>
    <div class="sorting-container">
      <div class="gender-sorting">
        <p>Any</p>
        <p>Male</p>
        <p>Female</p>
      </div>
      <div class="price-sorting">
        <p>its gona be a price sorting here</p>
      </div>
      <div class="rating-sorting">
        <p>1</p>
        <p>2</p>
        <p>3</p>
        <p>4</p>
        <p>5</p>
      </div>
  </div>
  </div>
</div>

<div style="display: flex; flex-wrap: wrap;">
    <% @instructors.each do |instructor| %>
      <%= link_to user_path(instructor) do %>
        <div style="display: flex; flex-direction: column;">
          <%= image_tag ("#{instructor.avatar}"), height: "150px;", width: "150px;" %>
          <div style="display: flex; flex-direction: column;">
            <p><%= instructor.first_name %></p>
            <p><%= instructor.resort %></p>
            <p><%= instructor.hourly_rate %></p>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>
