<div class="wrapper">
  <div class="search-container">
    <%= render 'shared/search' %>
    <div class="sorting-container">
      <div class="gender-sorting">
        <p class="selector">Any</p>
        <p class="selector">Male</p>
        <p class="selector">Female</p>
      </div>
      <div class="price-sorting">
        <p>its gona be a price sorting here</p>
      </div>
      <div class="rating-sorting">
        <p class="selector">1</p>
        <p class="selector">2</p>
        <p class="selector">3</p>
        <p class="selector">4</p>
        <p class="selector">5</p>
      </div>
  </div>
  </div>
</div>

<div class="show-cards-wrapper">
  <div class="show-cards-container">
    <% @instructors.each do |instructor| %>
      <div class="instructor-card">
        <%= link_to user_path(instructor) do %>
          <%= image_tag ("#{instructor.avatar}")%>
          <div class="instructor-info">
            <div class="instructor-info-name">
              <p class="name-and-price"><%= instructor.first_name %></p>
              <p class="resort-and-price"><%= instructor.resort %></p>
              <!-- to think how to show reiting in here(just a example text right now) -->
              <p class="rating"><%= image_tag("rating.svg") %> 4.4</p>
            </div>
            <div class="instructor-info-price">
              <p class="name-and-price"> €<%= instructor.hourly_rate %></p>
              <p class="resort-and-price">per hour</p>
            </div>
          </div>
        <% end %>
      </div>
    <% end %>
  </div>
</div>
