<div class="wrapper">
  <div class="search-container">
    <%= render 'shared/search' %>
    <div class="sorting-container">
      <div class="gender-sorting">
        <!-- <p class="selector" id="any"> Any</p>  -->
        <%= link_to "Any", users_path, method: :get, class: "selector selected", id: "any", remote: true %>
        <%= link_to "Male", users_path, method: :get, class: "selector", id: "male", remote: true %>
        <%= link_to "Female", users_path, method: :get, class: "selector", id: "female", remote: true %>
      </div>
      <div id="singleSlider"></div>
      <div class="rating-sorting">
        <p class="star-selector" id="rating-1"><%= image_tag ("rating.svg") %></p>
        <p class="star-selector" id="rating-2"><%= image_tag ("rating.svg") %></p>
        <p class="star-selector" id="rating-3"><%= image_tag ("rating.svg") %></p>
        <p class="star-selector" id="rating-4"><%= image_tag ("rating.svg") %></p>
        <p class="star-selector" id="rating-5"><%= image_tag ("rating.svg") %></p>
      </div>
  </div>
  </div>
</div>
<% if @instructors.empty? %>
  <%= render 'shared/empty_state' %>
<% else %>
  <div class="show-cards-wrapper">
    <div class="show-cards-container">
      <% @instructors.each do |instructor| %>
        <div class="instructor-card" data-gender="<%= instructor.gender %>">
          <%= link_to user_path(instructor) do %>
            <div class="instructor-img-box">
              <%= image_tag ("#{instructor.avatar}"), :class => "instructor-img"%>
            </div>
            <div class="instructor-info">
              <div class="instructor-info-name">
                <p class="name-and-price"><%= instructor.first_name %></p>
                <p class="resort-and-price"><%= instructor.resort %></p>
                <!-- to think how to show reiting in here(just a example text right now) -->
                <p class="rating"><%= image_tag("rating.svg") %> <%= instructor.ratings_average %> </p>
              </div>
              <div class="instructor-info-price">
                <p class="name-and-price"> €<%= instructor.hourly_rate %></p>
                <p class="resort-and-price">per hour</p>
              </div>
            </div>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>
<% end %>


<%= javascript_pack_tag 'index_filter_gender' %>
<%= javascript_pack_tag 'select_rating' %>
<%= javascript_pack_tag 'autocomplete' %>
<%= javascript_pack_tag 'datepicker' %>
<%= javascript_pack_tag 'price_filter' %>

