<div class="wrapper">
  <div class ="instructor-head"> <!-- continue with _show_instructor.scss-->
    <div class="name-block">
    <%= image_tag ("#{@instructor.avatar}"), class: "avatar-large" %>
      <div>
        <h1><%= @instructor.first_name %> <%= @instructor.last_name %></h1>
        <h3>Resort: <%= @instructor.resort %></h3>
      </div>
    </div>
    <%= link_to "Continue", new_user_trip_path(@instructor), method: :get, class: "blue-btn" %>
  </div>
</div>

<div class="instructor-body">
  <%= image_tag ("#{@instructor.avatar}"), class: "avatar-extra-large" %>
  <h1><%= @instructor.first_name %> <%= @instructor.last_name %></h1>
  <h3>Resort: <%= @instructor.resort %></h3>
  <div class="instructor-description">
    <p>Description: <%= @instructor.description %></p>
  </div>
  <h1 class="blue-font">Reviews</h1>
  <div class="review-container">
    <!-- creates for each review a separate box -->
    <% @reviews.each do |review|  %>
      <div class="review-card">
        <div class="review-info">
          <p class="blue-font"><%= review.student.first_name %></p>
          <p class="rating"><%= image_tag("rating.svg") %> <%= review.rating %></p>
        </div>
        <p><%=  review.description %></p>
      </div>
    <% end %>
  </div>
</div>
