<div class="home-wrapper">
  <div class="home-background"></div>
  <%= render 'shared/navbar' %>
  <div class="first-container">
    <h1 class="home-h1">🎿 ski lessons made simple</h1>
    <%= render 'shared/search' %>
  </div>
</div>

<div class="second-container">
  <h1 class="value-prop-title">Book top <span style="color: #167FFB">teachers</span> ⛷️ at a fair price</h1>
  <div class="value-prop-container">
    <div class="value-prop">
      <%= image_tag "Flexible_booking.png", height: '150'%>
      <h2>Flexible booking</h2>
      <p>Book online in just a few clicks for the time you need.</p>
    </div>
    <div class="value-prop">
      <%= image_tag "Low_prices.png", height: '150'%>
      <h2>Low prices</h2>
      <p>Book instructors directly. No middleman.</p>
    </div>
    <div class="value-prop">
      <%= image_tag "Largest_choice.png", height: '150'%>
      <h2>Largest choice</h2>
      <p>Instructors for all levels available across all Europe.</p>
    </div>
  </div>
</div>

<div class="third-container">
  <h1 class="value-prop-title">Available everywhere where there is <span style="color: #167FFB">snow</span> ❄️ </h1>
  <div class="value-prop-container">
    <div style="display: flex">
      <div class="resort-card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(/assets/Kitzbuehel.jpg)">
        <p class="resort-name">Kitzbuehel</p>
      </div>
      <div class="resort-card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(/assets/Chamonix.jpg)">
        <p class="resort-name">Chamonix</p>
      </div>
      <div class="resort-card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(/assets/Sankt_Moritz.jpg)">
        <p class="resort-name">Sankt Moritz</p>
      </div>
    </div>
    <div style="display: flex">
      <div class="resort-card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(/assets/Gstaad.jpg)">
        <p class="resort-name">Gstaad</p>
      </div>
      <div class="resort-card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(/assets/Ischgl.jpg)">
        <p class="resort-name">Ischgl</p>
      </div>
      <div class="resort-card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(/assets/Alpe_Huez.jpg)">
        <p class="resort-name">Alpe d'Huez</p>
      </div>
    </div>
  </div>
</div>

