<div class="home-wrapper">
  <div class="home-background"></div>
  <%= render 'shared/navbar' %>
  <div class="my-container">
    <h1 class="home-h1">find the best ski instructor</h1>
      <%= render 'shared/search' %>
  </div>
</div>

<%= javascript_pack_tag 'blur_effect_home' %>
<%= javascript_pack_tag 'autocomplete' %>
<%= javascript_pack_tag 'datepicker' %>
