<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Ski Coach</title>
    <%= csrf_meta_tags %>
    <%= action_cable_meta_tag %>
    <%= favicon_link_tag 'favicon.ico' %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <meta property="og:image" content="<%= meta_image %>" />
    <meta property="og:description" content="<%= meta_description %>" />
    <meta property="og:site_name" content="<%= meta_title %>" />
  </head>
  <body>
      <!-- the navbar is rendered in file home.html.erb -->
    <% if request.fullpath == "/" %>
      <%= yield %>
    <% elsif request.fullpath.match('trips$') %>
      <%= render 'shared/navbar_booking' %>
      <%= yield %>
    <% else %>
      <%= render 'shared/navbar_index' %>
      <%= yield %>
    <% end %>
    <!-- This p tag with calss notice is creating a 15px gap between divs (do we need it?) -->


    <%= javascript_include_tag 'application' %>
    <%= javascript_pack_tag 'application' %>
    <%= render 'shared/footer' %>
    <!-- <p class="notice"><%= notice %></p> -->
  </body>
</html>
