<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Ski Coach</title>
    <%= favicon_link_tag 'favicon.ico' %>
    <%= csrf_meta_tags %>
    <%= action_cable_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= stylesheet_pack_tag 'application' %>
  </head>
  <body>
    <% if request.fullpath == "/" %>
      <!-- the navbar is rendered in file home.html.erb -->
    <% elsif request.fullpath.match('trips$') %>
      <%= render 'shared/navbar_booking' %>
    <% else %>
      <%= render 'shared/navbar_index' %>
    <% end %>
    <!-- This p tag with calss notice is creating a 15px gap between divs (do we need it?) -->
    <p class="alert"><%= alert %></p>
    <%= yield %>
    <%= javascript_include_tag 'application' %>
    <%= javascript_pack_tag 'application' %>
    <p class="notice"><%= notice %></p>
  </body>
</html>
